import pandas as pd

In [644]:
import pandas as pd
import numpy as np

In [645]:
df1 = pd.read_csv('bank-data.csv')
df2 = pd.read_csv('banklist.csv',encoding='windows-1252')
df1.columns = df1.columns.str.lower()
df2.columns = df2.columns.str.lower()
df2.columns = df2.columns.str.rstrip()
df1

,cert,chclass1,cityst,cost,faildate,fin,id,name,qbfasset,qbfdep,restype,restype1,savr
0,59017,NM,"SAN FRANCISCO, CA",NaN,5/1/2023,10543,4107,FIRST REPUBLIC BANK,212638872,176436706,FAILURE,PA,DIF
1,57053,NM,"NEW YORK, NY",2400000.0,3/12/2023,10540,4106,SIGNATURE BANK,110363650,88612911,FAILURE,PA,DIF
2,24735,SM,"SANTA CLARA, CA",16100000.0,3/7/2023,10539,4105,SILICON VALLEY BANK,209026000,175378000,FAILURE,PA,DIF
3,15426,NM,"ALMENA, KS",16330.0,10/23/2020,10538,4104,ALMENA STATE BANK,65733,64941,FAILURE,PA,DIF
4,16748,NM,"FORT WALTON BEACH, FL",7247.0,10/16/2020,10537,4103,FIRST CITY BANK OF FLORIDA,136566,133936,FAILURE,PA,DIF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,338,NM,"FALKNER, MS",14592.0,9/29/2000,4644,3528,BANK OF FALKNER,85485,77140,FAILURE,PI,BIF
580,10985,NM,"ALMELUND, MN",1363.0,7/14/2000,4643,3527,TOWN & COUNTRY BANK OF ALMELUND,25942,26667,FAILURE,PI,BIF
581,25056,N,"RIDGECREST, CA",617.0,6/2/2000,4642,3526,MONUMENT NATIONAL BANK,7923,7680,FAILURE,PA,BIF
582,27886,SB,"ATLANTA, GA",1322.0,3/10/2000,6003,3525,MUTUAL FEDERAL SAVINGS BANK OF ATLANTA,31479,32234,FAILURE,PA,SAIF
583,14228,NM,"CARLISLE, IA",11574.0,1/14/2000,4641,3524,HARTFORD-CARLISLE SB,105044,68549,FAILURE,PI,BIF

In [646]:
df = pd.merge(df1 , df2, on = 'cert')
df.head()

,cert,chclass1,cityst,cost,faildate,fin,id,name,qbfasset,qbfdep,restype,restype1,savr,bank name,city,state,acquiring institution,closing date,fund
0,59017,NM,"SAN FRANCISCO, CA",NaN,5/1/2023,10543,4107,FIRST REPUBLIC BANK,212638872,176436706,FAILURE,PA,DIF,First Republic Bank,San Francisco,CA,"JPMorgan Chase Bank, N.A.",1-May-23,10543
1,57053,NM,"NEW YORK, NY",2400000.0,3/12/2023,10540,4106,SIGNATURE BANK,110363650,88612911,FAILURE,PA,DIF,Signature Bank,New York,NY,"Flagstar Bank, N.A.",12-Mar-23,10540
2,24735,SM,"SANTA CLARA, CA",16100000.0,3/7/2023,10539,4105,SILICON VALLEY BANK,209026000,175378000,FAILURE,PA,DIF,Silicon Valley Bank,Santa Clara,CA,First–Citizens Bank & Trust Company,10-Mar-23,10539
3,15426,NM,"ALMENA, KS",16330.0,10/23/2020,10538,4104,ALMENA STATE BANK,65733,64941,FAILURE,PA,DIF,Almena State Bank,Almena,KS,Equity Bank,23-Oct-20,10538
4,16748,NM,"FORT WALTON BEACH, FL",7247.0,10/16/2020,10537,4103,FIRST CITY BANK OF FLORIDA,136566,133936,FAILURE,PA,DIF,First City Bank of Florida,Fort Walton Beach,FL,"United Fidelity Bank, fsb",16-Oct-20,10537

In [647]:
columns = ['fin','id','city','closing date','fund','bank name','cityst']
df = df.drop(columns, axis=1)

In [648]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cert                   566 non-null    int64
 1   chclass1               566 non-null    object
 2   cost                   564 non-null    float64
 3   faildate               566 non-null    object
 4   name                   566 non-null    object
 5   qbfasset               566 non-null    int64
 6   qbfdep                 566 non-null    int64
 7   restype                566 non-null    object
 8   restype1               566 non-null    object
 9   savr                   566 non-null    object
 10  state                  566 non-null    object
 11  acquiring institution  566 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 53.2+ KB

In [649]:
df.isna().sum()

cert                     0
chclass1                 0
cost                     2
faildate                 0
name                     0
qbfasset                 0
qbfdep                   0
restype                  0
restype1                 0
savr                     0
state                    0
acquiring institution    0
dtype: int64

In [650]:
df = df.fillna(0)
df.isna().sum()

cert                     0
chclass1                 0
cost                     0
faildate                 0
name                     0
qbfasset                 0
qbfdep                   0
restype                  0
restype1                 0
savr                     0
state                    0
acquiring institution    0
dtype: int64

In [651]:
df['faildate'] = pd.to_datetime(df['faildate'])
df['year'] = df['faildate'].dt.year
df['month']=df['faildate'].dt.month

In [652]:
df['Month_Year'] = df['faildate'].dt.to_period('M')
df

,cert,chclass1,cost,faildate,name,qbfasset,qbfdep,restype,restype1,savr,state,acquiring institution,year,month,Month_Year
0,59017,NM,0.0,2023-05-01,FIRST REPUBLIC BANK,212638872,176436706,FAILURE,PA,DIF,CA,"JPMorgan Chase Bank, N.A.",2023,5,2023-05
1,57053,NM,2400000.0,2023-03-12,SIGNATURE BANK,110363650,88612911,FAILURE,PA,DIF,NY,"Flagstar Bank, N.A.",2023,3,2023-03
2,24735,SM,16100000.0,2023-03-07,SILICON VALLEY BANK,209026000,175378000,FAILURE,PA,DIF,CA,First–Citizens Bank & Trust Company,2023,3,2023-03
3,15426,NM,16330.0,2020-10-23,ALMENA STATE BANK,65733,64941,FAILURE,PA,DIF,KS,Equity Bank,2020,10,2020-10
4,16748,NM,7247.0,2020-10-16,FIRST CITY BANK OF FLORIDA,136566,133936,FAILURE,PA,DIF,FL,"United Fidelity Bank, fsb",2020,10,2020-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,32646,SB,286673.0,2001-07-27,"SUPERIOR BANK, FSB",1765455,1609501,FAILURE,PI,SAIF,IL,"Superior Federal, FSB",2001,7,2001-07
562,6629,N,769.0,2001-05-03,MALTA NATIONAL BANK,9075,8728,FAILURE,PA,BIF,OH,North Valley Bank,2001,5,2001-05
563,34264,NM,817.0,2001-02-02,FIRST ALLIANCE BANK AND TRUST CO,17438,16931,FAILURE,PA,BIF,NH,Southern New Hampshire Bank & Trust,2001,2,2001-02
564,3815,N,2670.0,2000-12-14,NATIONAL STATE BANK OF METROPOLIS,90397,71277,FAILURE,PI,BIF,IL,Banterra Bank of Marion,2000,12,2000-12
565,21029,NM,400.0,2000-10-13,BANK OF HONOLULU,63890,59037,FAILURE,PI,BIF,HI,Bank of the Orient,2000,10,2000-10

In [653]:
df_new = df[df['faildate'].dt.strftime('%Y') == '2008']
df_new

,cert,chclass1,cost,faildate,name,qbfasset,qbfdep,restype,restype1,savr,state,acquiring institution,year,month,Month_Year
514,11568,NM,7710.0,2008-12-12,SANDERSON STATE BANK,38217,32012,FAILURE,PA,DIF,TX,The Pecos County State Bank,2008,12,2008-12
515,35379,NM,246888.0,2008-12-12,HAVEN TRUST BANK,559551,489692,FAILURE,PA,DIF,GA,"Branch Banking & Trust Company, (BB&T)",2008,12,2008-12
516,34301,SM,86520.0,2008-12-05,FIRST GEORGIA COMMUNITY BANK,256371,215287,FAILURE,PA,DIF,GA,United Bank,2008,12,2008-12
517,16490,NM,335062.0,2008-11-21,THE COMMUNITY BANK,634901,603733,FAILURE,PA,DIF,GA,Bank of Essex,2008,11,2008-11
518,28344,SB,258807.0,2008-11-21,PFF BANK & TRUST,3715433,2393845,FAILURE,PA,DIF,CA,"U.S. Bank, N.A.",2008,11,2008-11
519,30968,SL,151232.0,2008-11-21,"DOWNEY SAVINGS AND LOAN ASSOCIATION, F.A.",12779371,9653169,FAILURE,PA,DIF,CA,"U.S. Bank, N.A.",2008,11,2008-11
520,23595,NM,148255.0,2008-11-07,SECURITY PACIFIC BANK,527959,456472,FAILURE,PA,DIF,CA,Pacific Western Bank,2008,11,2008-11
521,26870,SI,615993.0,2008-11-07,"FRANKLIN BANK, SSB",5089260,3692887,FAILURE,PA,DIF,TX,Prosperity Bank,2008,11,2008-11
522,57930,NM,113456.0,2008-10-31,FREEDOM BANK,270842,256793,FAILURE,PA,DIF,FL,Fifth Third Bank,2008,10,2008-10
523,58241,NM,211264.0,2008-10-24,ALPHA BANK & TRUST,354090,344231,FAILURE,PI,DIF,GA,"Stearns Bank, N.A.",2008,10,2008-10
524,13789,NM,16618.0,2008-10-10,MERIDIAN BANK,38223,36090,FAILURE,PA,DIF,IL,National Bank,2008,10,2008-10
525,57654,NM,56318.0,2008-10-10,MAIN STREET BANK,112368,98934,FAILURE,PA,DIF,MI,Monroe Bank & Trust,2008,10,2008-10
526,32633,SB,0.0,2008-09-25,WASHINGTON MUTUAL BANK,307021614,188260793,FAILURE,PA,DIF,NV,JP Morgan Chase Bank,2008,9,2008-09
527,6782,SB,38290.0,2008-09-19,"AMERIBANK, INC.",103965,100901,FAILURE,PA,DIF,WV,The Citizens Savings Bank ********** Pioneer C...,2008,9,2008-09
528,34194,NM,722757.0,2008-09-05,SILVER STATE BANK,1957120,1733091,FAILURE,PI,DIF,NV,Nevada State Bank,2008,9,2008-09
529,35469,NM,465942.0,2008-08-29,INTEGRITY BANK,1107514,962456,FAILURE,PA,DIF,GA,Regions Bank,2008,8,2008-08
530,22728,NM,334277.0,2008-08-22,THE COLUMBIAN BANK AND TRUST COMPANY,735071,620354,FAILURE,PI,DIF,KS,Citizens Bank & Trust,2008,8,2008-08
531,57523,NM,95555.0,2008-08-01,FIRST PRIORITY BANK,258610,226698,FAILURE,PI,DIF,FL,SunTrust Bank,2008,8,2008-08
532,27011,N,716026.0,2008-07-25,FIRST NATIONAL BANK OF NEVADA,3411145,3038053,FAILURE,PA,DIF,NV,Mutual of Omaha Bank,2008,7,2008-07
533,57961,N,92139.0,2008-07-25,FIRST HERITAGE BANK N.A.,255376,234812,FAILURE,PA,DIF,CA,Mutual of Omaha Bank,2008,7,2008-07
534,29730,SL,12031040.0,2008-07-11,INDYMAC BANK F.S.B,30698512,18941727,FAILURE,PI,DIF,CA,"OneWest Bank, FSB",2008,7,2008-07
535,12736,N,10305.0,2008-05-30,"FIRST INTEGRITY BANK, N.A.",52916,50178,FAILURE,PA,DIF,MN,First International Bank and Trust,2008,5,2008-05
536,33901,N,1025204.0,2008-05-09,ANB FINANCIAL NATIONAL ASSOCIATION,1895545,1815691,FAILURE,PI,DIF,AR,Pulaski Bank and Trust Company,2008,5,2008-05
537,1971,NM,3755.0,2008-03-07,HUME BANK,18682,13566,FAILURE,PI,DIF,MO,Security Bank,2008,3,2008-03
538,24660,N,7157.0,2008-01-25,DOUGLASS NATIONAL BANK,52824,50250,FAILURE,PA,DIF,MO,Liberty Bank and Trust Company,2008,1,2008-01

In [654]:
df_1 = df_new.groupby(['year','month'])['month'].count().reset_index(name='counts')
df_1 = df_1.set_index('month')
df_1 = df_1.reindex(np.arange(1, 13)).fillna(0.0)
df_1['year'] = '2008'
df_1 = df_1.reset_index()
df_1

    month  year  counts
0       1  2008     1.0
1       2  2008     0.0
2       3  2008     1.0
3       4  2008     0.0
4       5  2008     2.0
5       6  2008     0.0
6       7  2008     3.0
7       8  2008     3.0
8       9  2008     3.0
9      10  2008     4.0
10     11  2008     5.0
11     12  2008     3.0

In [655]:
df_cost = df_new.groupby(['year','month'])['cost'].sum().reset_index(name='loss')
df_cost = df_cost.set_index('month')
df_cost = df_cost.reindex(np.arange(1, 13)).fillna(0.0)
df_cost['year'] = '2008'
df_cost = df_cost.reset_index()
df_cost

    month  year        loss
0       1  2008      7157.0
1       2  2008         0.0
2       3  2008      3755.0
3       4  2008         0.0
4       5  2008   1035509.0
5       6  2008         0.0
6       7  2008  12839205.0
7       8  2008    895774.0
8       9  2008    761047.0
9      10  2008    397656.0
10     11  2008   1509349.0
11     12  2008    341118.0

In [656]:
df_final = pd.merge(df_1, df_cost)
df_final

    month  year  counts        loss
0       1  2008     1.0      7157.0
1       2  2008     0.0         0.0
2       3  2008     1.0      3755.0
3       4  2008     0.0         0.0
4       5  2008     2.0   1035509.0
5       6  2008     0.0         0.0
6       7  2008     3.0  12839205.0
7       8  2008     3.0    895774.0
8       9  2008     3.0    761047.0
9      10  2008     4.0    397656.0
10     11  2008     5.0   1509349.0
11     12  2008     3.0    341118.0

In [657]:
import calendar
df_final['month'] = df_final['month'].apply(lambda x: calendar.month_abbr[x])
df_final

   month  year  counts        loss
0    Jan  2008     1.0      7157.0
1    Feb  2008     0.0         0.0
2    Mar  2008     1.0      3755.0
3    Apr  2008     0.0         0.0
4    May  2008     2.0   1035509.0
5    Jun  2008     0.0         0.0
6    Jul  2008     3.0  12839205.0
7    Aug  2008     3.0    895774.0
8    Sep  2008     3.0    761047.0
9    Oct  2008     4.0    397656.0
10   Nov  2008     5.0   1509349.0
11   Dec  2008     3.0    341118.0

In [658]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x = df_final['month'],y = df_final['loss'], name="Loss "),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x = df_final['month'],y =  df_final['counts'], name="Bank Failures"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(
    title_text="Loss and Bank Failures in 2008"
)

# Set x-axis title
fig.update_xaxes(title_text="Months ")

# Set y-axes titles
fig.update_yaxes(title_text="<b>Total loss ($m)</b>", secondary_y=False)
fig.update_yaxes(title_text="<b>Number ofBanks Failed </b>", secondary_y=True)

fig.show()

In [659]:
df_st = df[df['state'] == 'IL']
df_st = df_st.groupby(['year','state'])['year'].count().reset_index(name = 'count')
df_st = df_st.set_index('year')
df_st = df_st.reindex(np.arange(2000,2024)).fillna(0.0)
df_st['state'] = 'IL'
df_st = df_st.reset_index()
df_st

    year state  count
0   2000    IL    1.0
1   2001    IL    1.0
2   2002    IL    1.0
3   2003    IL    0.0
4   2004    IL    0.0
5   2005    IL    0.0
6   2006    IL    0.0
7   2007    IL    0.0
8   2008    IL    1.0
9   2009    IL   21.0
10  2010    IL   16.0
11  2011    IL    9.0
12  2012    IL    8.0
13  2013    IL    1.0
14  2014    IL    5.0
15  2015    IL    2.0
16  2016    IL    0.0
17  2017    IL    3.0
18  2018    IL    0.0
19  2019    IL    0.0
20  2020    IL    0.0
21  2021    IL    0.0
22  2022    IL    0.0
23  2023    IL    0.0

In [660]:
df_test = df.groupby(['state','year'])['year'].count().reset_index(name='count')
df_test

    state  year  count
0      AL  2009      3
1      AL  2010      1
2      AL  2011      2
3      AL  2012      1
4      AR  2001      1
..    ...   ...    ...
193    WI  2016      1
194    WI  2017      1
195    WV  2008      1
196    WV  2020      1
197    WY  2009      1

[198 rows x 3 columns]

In [663]:
import plotly.express as px
fig = px.line(df_st, x="year", y="count", title='Banks failed in the state of {}'.format('CA'), range_x=['2000-01-01','2023-01-01'])
fig.show()